# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled Python files and cached files
__pycache__/

# Ignore the vault.py file
vault.py

# Ignore the downloaded_responses folder and its contents
downloaded_responses/

# Ignore all JSON files in the repository
*.json
